@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/sana.png" />
    <p class="lead">
        Sana helps businesses all over the world reach their full potential
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            We offer the shortcut to e-commerce. How? Through 100% seamless integration with SAP and Microsoft Dynamics. Our e-commerce solution leverages existing business logic and data in powerful and user-friendly web stores.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Dynamics and SAP.</h2>
        <p>Sana Commerce is a certified partner of Microsoft Dynamics and SAP. </p>
    </div>
    <div class="col-md-4">
        <h2>Our Mission</h2>
        <p>Sana delivers B2B e-commerce solutions for Microsoft Dynamics and SAP that help wholesalers, distributors and manufacturers to grow online.</p>
    </div>
</div>